@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body {
    margin: 0;
    overflow-x: hidden;
}

.allcontents{
    background: #DDE6ED;
    height: 1500px;
}

.heading-1 {
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    padding-top: 10%;
    color: #fff;
}

.sub-heading {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: bold;
}

.sub-heading .important {
    color: #9DB2BF;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

#menuToggle {
	display: block;
	position: absolute;
	top: 1.75rem;
	right: 1rem;
	left: auto;
	z-index: 4;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle ul {
	transform: translate(115%, 0);
	opacity: 0;
	pointer-events: none;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menuToggle input {
	display: block;
	width: 2.5rem;
	height: 2rem;
	position: absolute;
	top: -0.5rem;
	left: -0.25rem;
	cursor: pointer;
	opacity: 0;
	z-index: 4;
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	position: relative;
	z-index: 3;
	width: 2.0625rem;
	height: 0.25rem;
	margin-bottom: 0.3125rem;
	background: #ffffff;
	border-radius: 0.125rem;
	transform-origin: 3px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #ffffff;
}


#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

.menuu {
	border-radius: 10px;
	position: absolute;
	padding: 15px 60px 12px 100px;
	background-color: #dce0e4;
	z-index: 2;
}

#menu {
	font-family: 'Poppins', sans-serif;
	width: 800px;
	margin-left: -1300px;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(115%, 0);
	transition: transform 0.5s cubicasdasd-bezier(0.77, 0.2, 0.05, 1.0);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#menu li {
	position: relative;
	margin-bottom: 0.5rem;
	padding-right: 60px;
	color: #ffffff;
	font-size: 1.125rem;
	font-weight: bold;
}

#menu li a {
	opacity: 1;
	text-decoration: none;
	color: #526D82;
	display: block;
	text-align: center;
	transition: all 0.25s ease;
}

#menu li:active,
#menu li:hover a {
	color: #9DB2BF;
	opacity: 0.8;
}

#menu li.sub-menu {
	margin-left: 0.5rem;
	margin-bottom: 0.125rem;
	font-size: 1rem;
}

#menuToggle input:checked ~ ul {
	transform: translateY(0);
	opacity: 1;
	pointer-events: auto;
}

.bgheader {
    height: 500px; 
    background-image: url('Pictures/successs.jpg');
    background-color: rgb(141, 139, 139);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -80px;
    margin-top: -50px;
}

.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -6%;
}

.jeffpic{
    width: 480px;
}

footer {
    background-color: #262728;
    padding: 30px 0px;
    text-align: center;
    justify-content: center;
    height: 320px;
    margin-bottom: 0%;
}

.containerr {
display: flex;
justify-content: space-around;
}  

.contained {
	width: 330px;
}

.fldiv {
	width: 90%;
}

.contained2,.contained3 {
	width: 200px;
	height: 240px;
	justify-content: left;
}

.pplist,.ilist {
list-style-type: none;
text-align: left;
justify-content: left;
padding: 0;
margin: 0;
}

.pplist li a,.ilist li a {
text-decoration: none;
color: #9c9c9c;
padding-bottom: 15px;
}

.head {
padding-bottom: 15px;
margin: 0;
text-align: left;
justify-content: left;
}

.containeds {
	width: 200px;
}

.container2 {
    background-color: #191B1B;
    text-align: center;
}

.contained201 {
    margin-right: 60px;
    text-align: right;
    color: #9c9c9c;
}

.container {
    position: relative;
    max-width: 1000px;
    max-height: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 auto; 
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 67px;
    border-radius: 8px;
    background-color: #526D82;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 650;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 15px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form .btnText{
    font-size: 16px;
    font-weight: 400;
}
form button:hover{
    background-color: #27374D;
}
form .buttons{
    display: flex;
    align-items: center;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #526D82;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.button-link:hover {
    background-color: #9DB2BF;
}